<div class="six columns offset-by-five">

	<div id="home">

		<div class="squareButton green">
			<%= link_to "projects", projects_path %>
		</div>
		
		<div class="squareButton blue">bundles</div>

		<div class="welcome">Welcome, <%= @user.email %>!</div>

		<div class="squareButton orange">my profile</div>
		<div class="squareButton red">log out</div>

	</div>

</div>
